<center><h1>KOLHE_PRANAV_HW3</h1></center>
<br>
<br>

Name: Pranav Kolhe
<br>
Github Username: pranavko12
<br>
USC ID: 6981095982

## 1. Time Series Classification Part 1: Feature Creation/Extraction

### (a) Download Data

Package imports

In [1]:
import numpy as np
import pandas as pd
import os
from io import StringIO
from scipy.stats import bootstrap

Get the AReM Data Set

**DATA CLEANING FOR dataset4.csv from the bending2 folder**

In [2]:
file_path = '../data/AReM/bending2/dataset4.csv'

with open(file_path, 'r') as f:
    data = f.readlines()

data_cleaned = [data[4]] + [line.strip() for line in data[5:]]

data_string = "\n".join(data_cleaned)
data_io = StringIO(data_string)

columns = ['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13', 'var_rss13', 'avg_rss23', 'var_rss23']

df_bending_4 = pd.read_csv(data_io, sep=' ', header=None, skiprows=4)
df_bending_4.columns = columns

df_bending_4.head()

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,500,32.75,0.43,1.00,0.00,18.00,0.00
1,750,32.50,0.50,0.00,0.00,17.50,0.50
2,1000,32.50,0.50,7.50,0.50,17.50,0.87
3,1250,32.67,0.47,11.00,1.00,16.75,0.83
4,1500,32.50,0.50,6.25,0.83,18.00,0.00

**DATA CLEANING FOR dataset9.csv and dataset14.csv from the cycling folder**

In [3]:
def clean_cycling_data(file_path):
    df = pd.read_csv(file_path, sep=',', skiprows=4, error_bad_lines=False)
    return df

file_path_9 = '../data/AReM/cycling/dataset9.csv'
file_path_14 = '../data/AReM/cycling/dataset14.csv'

df_cycling_9 = clean_cycling_data(file_path_9)
df_cycling_14 = clean_cycling_data(file_path_14)

b'Skipping line 485: expected 7 fields, saw 8\n'
b'Skipping line 485: expected 7 fields, saw 8\n'

**DATA CLEANING**<br>
The above code cleans 3 datasets.<br>*(I have cleaned it using Python as it was recommended on Piazza to use Python)*
1. dataset4 in bending2 folder has a space delimeter instead of comma.
2. dataset9 and dataset14 from cycling folder have additional comma. Hence, row 485 has 8 values instead of 7.

### (b) Test and Train Data

In [4]:
base_path = "../data/AReM/"
folders = [
    "bending1", "bending2", "cycling", "lying", "sitting", "standing", "walking"
]

def load_and_separate_data():
    test_data = []
    train_data = []
    
    for folder in folders:
        folder_path = os.path.join(base_path, folder)
        
        if folder == "bending1":
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset1.csv"), sep=',', skiprows=4))
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset2.csv"), sep=',', skiprows=4))
            for i in range(3, 8):
                train_data.append(pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4))
        
        elif folder == "bending2":
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset1.csv"), sep=',', skiprows=4))
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset2.csv"), sep=',', skiprows=4))
            for i in range(3, 7):
                if i==4:
                    train_data.append(df_bending_4)
                else:
                    train_data.append(pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4))
        
        elif folder == "cycling":
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset1.csv"), sep=',', skiprows=4))
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset2.csv"), sep=',', skiprows=4))
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset3.csv"), sep=',', skiprows=4))
            for i in range(4, 16):
                if i==9:
                    train_data.append(df_cycling_9)
                elif i==14:
                    train_data.append(df_cycling_14)
                else:
                    train_data.append(pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4))
        
        else:
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset1.csv"), sep=',', skiprows=4))
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset2.csv"), sep=',', skiprows=4))
            test_data.append(pd.read_csv(os.path.join(folder_path, "dataset3.csv"), sep=',', skiprows=4))
            for i in range(4, 16):
                train_data.append(pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4))
    
    test_data_combined = pd.concat(test_data, ignore_index=True)
    train_data_combined = pd.concat(train_data, ignore_index=True)
    
    return train_data_combined, test_data_combined

train_data, test_data = load_and_separate_data()

In [5]:
print("Training data shape:", train_data.shape)
print("Testing data shape:", test_data.shape)

Training data shape: (33115, 7)
Testing data shape: (9120, 7)

### (c) Feature Extraction

#### i. Research

**Types of time-domain features usually used in time series classification are: -**<br><br>
**Statistical Features:**
1. Mean
2. Median
3. Minimum
4. Maximum
5. Range
6. Standard Deviation
7. Variance
8. IQR
<br><br>
**Shape-Based Features:**
1. Skewness
2. Kurtosis
3. Entropy
<br><br>
**Time Series Features:**
1. Orders of autoregressive, integrated and moving average part of an estimated ARIMA model
2. Parameters of the AR part
3. Parameters of the MA part

#### ii. Extraction

In [6]:
base_path = "../data/AReM/"
folders = [
    "bending1", "bending2", "cycling", "lying", "sitting", "standing", "walking"
]
col_names = ['min_', 'max_', 'mean_', 'median_', 'std_dev_', '1st quartile_', '3rd quartile_' ]
col = []
for i in range (1,7):
    for j in col_names:
        col.append(j + str(i))
        
df_2 = pd.DataFrame(columns=col)
def extract_features(d):
    summary = d.describe()
    
    row = []
    for i in range(1, 7):
        row.extend([
            summary.iloc[3, i],  
            summary.iloc[7, i],  
            summary.iloc[1, i],  
            summary.iloc[5, i],  
            summary.iloc[2, i],  
            summary.iloc[4, i],  
            summary.iloc[6, i],  
        ])
    
    return row

for folder in folders:
    folder_path = os.path.join(base_path, folder)

    if folder == "bending1":
        for i in range(1, 8):
            d = pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4)
            row = extract_features(d)
            df_2 = pd.concat([df_2, pd.DataFrame([row], columns=col)], ignore_index=True)
    
    elif folder == "bending2":
        for i in range(1, 7):
            if i==4:
                d = df_bending_4
            else:
                d = pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4)
            row = extract_features(d)
            df_2 = pd.concat([df_2, pd.DataFrame([row], columns=col)], ignore_index=True)

    elif folder == "cycling":
        for i in range(1, 16):
            if i==9:
                d = df_cycling_9
            elif i ==14:
                d = df_cycling_14
            else:
                d = pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4)
            row = extract_features(d)
            df_2 = pd.concat([df_2, pd.DataFrame([row], columns=col)], ignore_index=True)

    else:
        for i in range(1, 16):
            d = pd.read_csv(os.path.join(folder_path, f"dataset{i}.csv"), sep=',', skiprows=4)
            row = extract_features(d)
            df_2 = pd.concat([df_2, pd.DataFrame([row], columns=col)], ignore_index=True)

df_2.insert(0, "Instance", range(1, len(df_2) + 1))

df_2

,Instance,min_1,max_1,mean_1,median_1,std_dev_1,1st quartile_1,3rd quartile_1,min_2,max_2,...,std_dev_5,1st quartile_5,3rd quartile_5,min_6,max_6,mean_6,median_6,std_dev_6,1st quartile_6,3rd quartile_6
0,1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.0000,0.0,1.30,...,2.188449,33.0000,36.00,0.00,1.92,0.570583,0.43,0.582915,0.0000,1.3000
1,2,38.00,45.67,42.812812,42.50,1.435550,42.00,43.6700,0.0,1.22,...,1.995255,32.0000,34.50,0.00,3.11,0.571083,0.43,0.601010,0.0000,1.3000
2,3,35.00,47.40,43.954500,44.33,1.558835,43.00,45.0000,0.0,1.70,...,1.999604,35.3625,36.50,0.00,1.79,0.493292,0.43,0.513506,0.0000,0.9400
3,4,33.00,47.75,42.179813,43.50,3.670666,39.15,45.0000,0.0,3.00,...,3.849448,30.4575,36.33,0.00,2.18,0.613521,0.50,0.524317,0.0000,1.0000
4,5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.7500,0.0,2.83,...,2.411026,28.4575,31.25,0.00,1.79,0.383292,0.43,0.389164,0.0000,0.5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,84,19.50,45.33,33.586875,34.25,4.650935,30.25,37.0000,0.0,14.67,...,3.283983,13.7300,18.25,0.00,8.32,3.259729,3.11,1.640243,2.0500,4.3225
84,85,19.75,45.50,34.322750,35.25,4.752477,31.00,38.0000,0.0,13.47,...,3.119856,13.5000,17.75,0.00,9.67,3.432562,3.20,1.732727,2.1575,4.5650
85,86,19.50,46.00,34.546229,35.25,4.842294,31.25,37.8125,0.0,12.47,...,2.823124,14.0000,17.75,0.00,10.00,3.338125,3.08,1.656742,2.1600,4.3350
86,87,23.50,46.25,34.873229,35.25,4.531720,31.75,38.2500,0.0,14.82,...,3.131076,13.7500,18.00,0.00,9.51,3.424646,3.27,1.690960,2.1700,4.5000
87,88,19.25,44.00,34.473188,35.00,4.796705,31.25,38.0000,0.0,13.86,...,3.156320,13.7300,17.75,0.43,9.00,3.340458,3.09,1.699114,2.1200,4.3750

#### iii. Standard Deviation

In [7]:
df_summary = df_2.loc[:, df_2.columns!="Instance"].describe()
std_dev = df_summary.loc[['std']].T
std_dev

                     std
min_1           9.569975
max_1           4.394362
mean_1          5.335913
median_1        5.440054
std_dev_1       1.772306
1st quartile_1  6.153874
3rd quartile_1  5.140948
min_2           0.000000
max_2           5.062729
mean_2          1.574207
median_2        1.412293
std_dev_2       0.884136
1st quartile_2  0.946386
3rd quartile_2  2.125399
min_3           2.956462
max_3           4.875137
mean_3          4.007631
median_3        4.036396
std_dev_3       0.946749
1st quartile_3  4.220658
3rd quartile_3  4.171628
min_4           0.000000
max_4           2.183625
mean_4          1.166156
median_4        1.145985
std_dev_4       0.458278
1st quartile_4  0.843405
3rd quartile_4  1.552504
min_5           6.124001
max_5           5.741238
mean_5          5.675532
median_5        5.813782
std_dev_5       1.024856
1st quartile_5  6.096465
3rd quartile_5  5.531720
min_6           0.045838
max_6           2.518921
mean_6          1.154890
median_6        1.086474
std_dev_6       0.517642
1st quartile_6  0.758687
3rd quartile_6  1.523739

In [8]:
ci = pd.DataFrame()
for i in range(len(df_2.columns)):
    data = (df_2.iloc[:, i],)
    boot = bootstrap(data, np.std, confidence_level = 0.9, random_state = 1, method = 'percentile')
    vals = pd.DataFrame({'Feature': df_2.columns[i], 'Lower Bound': boot.confidence_interval.low, 'Upper Bound': boot.confidence_interval.high}, index=[i+1])
    ci = pd.concat([ci, vals], ignore_index = True)

ci = ci.iloc[1:].reset_index(drop=True)
ci

           Feature  Lower Bound  Upper Bound
0            min_1     8.227103    10.687351
1            max_1     3.302748     5.264298
2           mean_1     4.675299     5.842463
3         median_1     4.761417     5.966529
4        std_dev_1     1.565140     1.941435
5   1st quartile_1     5.541925     6.620593
6   3rd quartile_1     4.300089     5.797943
7            min_2     0.000000     0.000000
8            max_2     4.604009     5.378704
9           mean_2     1.389991     1.695805
10        median_2     1.234683     1.536975
11       std_dev_2     0.799581     0.937884
12  1st quartile_2     0.826693     1.030069
13  3rd quartile_2     1.886949     2.281321
14           min_3     2.743064     3.089876
15           max_3     4.144572     5.433604
16          mean_3     3.388639     4.477084
17        median_3     3.407274     4.517983
18       std_dev_3     0.755438     1.117388
19  1st quartile_3     3.610134     4.681835
20  3rd quartile_3     3.514127     4.676197
21           min_4     0.000000     0.000000
22           max_4     1.962072     2.345492
23          mean_4     1.069256     1.216277
24        median_4     1.049999     1.195875
25       std_dev_4     0.418947     0.483883
26  1st quartile_4     0.769589     0.886192
27  3rd quartile_4     1.422415     1.618519
28           min_5     4.394815     7.458109
29           max_5     4.729919     6.535362
30          mean_5     4.415605     6.695641
31        median_5     4.500736     6.875738
32       std_dev_5     0.803845     1.216176
33  1st quartile_5     4.779849     7.167726
34  3rd quartile_5     4.350909     6.496135
35           min_6     0.000000     0.078029
36           max_6     2.236597     2.749247
37          mean_6     1.055735     1.209086
38        median_6     0.989704     1.141668
39       std_dev_6     0.475872     0.542260
40  1st quartile_6     0.685805     0.803665
41  3rd quartile_6     1.393189     1.592676

#### iv. Select Features

The 3 most important time-domain features that I'll select are:<br>
1. Mean
2. Median
3. Standard deviation

**MEAN: - <br>**
Mean's confidence interval gives us the range in which the true average value of the feature lies.<br>
As we can see in the table, the lower bound and upper bound make a quite tight range. <br>**Tighter CI means consistent and predictable behavior of the feature values.**
<br><br>
**MEDIAN: - <br>**
Median's confidence interval gives us the range where the central value of the dataset is expected to be.<br>
As we can see in the table, the lower bound and upper bound values are closer to each other. <br>**Small CI means more stable feature values.**
<br><br>
**Standard Deviation: - <br>**
Standard Deviation's confidence interval shows how unceratinity in feature values.<br>
As we can see in the table, the difference in the lower bound and upper bound values is very low.<br> **Lower CI means lower degree of variability.**

## 2. ISLR 3.7.4

### (a) Linear Train

**Here, the RSS for cubic regression is smaller than RSS for linear regression**<br>
The cubic model has more parameters, and hence it will fit the data at least as well as the linear model. Therefore RSS for cubic regression is smaller than linear regression.

### (b) Linear Test

**Here, the RSS for linear regression is smaller than RSS for cubic regression**<br>
The cubic model has more parameters. While training, it fits the known data, but while testing, it might cause overfitting as it might learn noise. Therefore, for test data, RSS for linear regression is smaller than cubic regression.

### (c) Not Linear Train

**Here, the RSS for cubic regression is smaller than RSS for non-linear regression**<br>
A non-linear regression model can be too simple to capture actual pattern, which may lead to underfitting. Therefore, RSS for cubic regression is smaller in this case.

### (d) Not Linear Testing

**Here, we don't have enough information to tell**<br>
If the data is closer to linear, the linear model will likely have lower test RSS due to better generalization. If the relationship is highly non-linear, the cubic model may perform better by capturing complex patterns. Without knowing the true structure, we cannot determine whether increasing model complexity will improve or worsen test RSS.

## 3. ISLR 3.7.3 - Extra Practice

## 3. ISLR 3.7.5 - Extra Practice

**REFERENCES**<br>
1. https://stats.stackexchange.com/questions/50807/features-for-time-series-classification
2. ChatGPT Prompt: what types of time-domain features are usually used in time series classification